* {
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

///variables
$padding-sm: 1rem;
$padding-md: 2rem;
$padding-lg: 3rem;

$margin-sm: 1rem;
$margin-md: 2rem;
$margin-lg: 3rem;

//MIXINS

//UTILITY CLASSES
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-md {
  margin-top: 2rem;
}

.list {
  margin: 0;
  padding: 0;
}

.list-item {
  padding: 0;
  display: flex;
  align-items: center;
  &__image {
    width: 10rem;
    max-height: 10rem;
    border-radius: 25%;
    margin-right: 2rem;
  }
  & div {
    padding: 0;
    margin: 0;
  }
}

body {
  background-color: rgb(231, 221, 221);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a:link,
a:visited {
  color: #000;
  text-decoration: none;
}

//CONTAINER
//contains everything
.container {
  width: 110rem;
  margin: 0 auto;
}

//card
.card {
  flex: 1;
  border-radius: 1rem;
  padding: $padding-lg;
  border: 1px solid rgb(209, 209, 209);
  background-color: #fff;
  display: flex;
  align-items: center;

  &--danger {
    background-color: rgb(255, 142, 142);
    color: rgb(161, 0, 0);
  }
}

///forms
.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: $margin-md;
  &__label {
    font-size: 1.5rem;
    margin-bottom: $margin-sm;
  }
  &__input {
    margin-bottom: $margin-lg;
    padding: $padding-sm;
  }
  &__button {
    position: relative;
    width: 50%;
    border: 0;
    border-radius: 1.5rem;
    padding: $padding-md 0;
    background-color: rgb(94, 156, 0);
    overflow: hidden;
    color: #fff;
    transition: transform 1s;

    & span {
      position: relative;
      z-index: 5;
    }
    &::before {
      content: "";
      border-radius: 50%;
      background-color: rgb(94, 140, 0);
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 2px;
      transition: transform 1s;
    }
    &:hover {
      transform: scale(0.95);
      &::before {
        transform: translatex(-50%) translatey(-50%) scale(140);
      }
    }
    &--danger {
      background-color: rgb(255, 104, 104);
      &::before {
        background-color: rgb(255, 42, 42);
      }
    }
  }
}

.product-card {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__price {
    font-size: 2rem;
    font-weight: 600;
  }
  & form {
    display: flex;
    margin: 0;
    align-items: center;
    align-self: center;
    & .form__button {
      color: #fff;
      font-size: 1.5rem;
    }
  }
  &__title {
  }
  &__link {
    text-transform: capitalize;
  }
}
